# NanoPi R5S
# Rockchip RK3568B2
# 1G x1 (RTL8211F-CG), 2.5G x2 (RTL8125BG on PCIe bus)
#  Три PCI-моста RK3568 Remote Signal Processor
#  Два Ethernet-контроллера Realtek RTL8125
# aarch64_generic

CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5s=y
CONFIG_TARGET_ARCH_PACKAGES="aarch64_generic"

CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_TARGET_IMAGES_GZIP=y

CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
# CONFIG_TARGET_ROOTFS_UBIFS is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set

# NanoPi R5S Configuration for Custom OpenWrt Firmware

CONFIG_LUCI_LANG_ru=y
############################################################################

CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=n
CONFIG_LIBCURL_UNIX_SOCKETS=y
############################################################################

CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_TLS13=y
############################################################################

# CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_apk-openssl=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_bsdtar=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_conntrack=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_findutils=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_hwclock=y
CONFIG_PACKAGE_internet-detector=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kernel=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-tcp-bbr=m
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_libgpiod=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-internet-detector=y
CONFIG_PACKAGE_luci-app-log-viewer=y
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-app-youtubeUnblock=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-homeproxy-ru=y
CONFIG_PACKAGE_luci-i18n-internet-detector-ru=y
CONFIG_PACKAGE_luci-i18n-log-viewer-ru=y
CONFIG_PACKAGE_luci-i18n-package-manager-ru=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_mailsend=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_nftables-json=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_owut=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_partx-utils=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_procd-ujail=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_sed=y
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_urandom-seed=y
CONFIG_PACKAGE_urngd=y
CONFIG_PACKAGE_youtubeUnblock=y
CONFIG_PACKAGE_zoneinfo-europe=y
############################################################################

# CONFIG_PACKAGE_mwan3=y
# CONFIG_PACKAGE_luci-app-mwan3=y
# CONFIG_PACKAGE_luci-i18n-mwan3-ru=y
# CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
# CONFIG_PACKAGE_kmod-ipt-ipopt=y

# CONFIG_PACKAGE_mihomo=y
# CONFIG_PACKAGE_luci-app-mihomo=y
# CONFIG_PACKAGE_luci-i18n-mihomo-ru=y

CONFIG_PACKAGE_luci-app-filemanager=y
CONFIG_PACKAGE_luci-i18n-filemanager-ru=y

CONFIG_PACKAGE_irqbalance=m
CONFIG_PACKAGE_luci-app-irqbalance=m
CONFIG_PACKAGE_luci-i18n-irqbalance-ru=m

CONFIG_PACKAGE_tc-full=y
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-i18n-sqm-ru=m
CONFIG_PACKAGE_kmod-sched-cake=y
############################################################################

CONFIG_PACKAGE_apk-mbedtls=n
CONFIG_PACKAGE_autocore=n
CONFIG_PACKAGE_automount=n
CONFIG_PACKAGE_block-mount=n
CONFIG_PACKAGE_cpufreq=n
CONFIG_PACKAGE_default-settings-chn=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_fitblk=n
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=n
CONFIG_PACKAGE_kmod-phy-aquantia=y
CONFIG_PACKAGE_kmod-r8169=n
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_luci-app-cpufreq=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
############################################################################
# CONFIG_PACKAGE_luci-app-xray=y
# CONFIG_PACKAGE_v2ray-geoip=y
# CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_luci-theme-argon=m
CONFIG_PACKAGE_luci-app-argon-config=m
CONFIG_LUCI_THEME_BOOTSTRAP=y
CONFIG_PACKAGE_mtr-json=y
CONFIG_TCP_CONG_BBR=y
CONFIG_NET_SCH_CAKE=y
