# NanoPi R5S
# Rockchip RK3568B2
# 1G x1 (RTL8211F-CG), 2.5G x2 (RTL8125BG on PCIe bus)
# aarch64_generic

# NanoPi R5S Configuration for Custom OpenWrt Firmware

CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5s=y
CONFIG_TARGET_ARCH_PACKAGES="aarch64_generic"
### Отсутствует в итоговом конфиге - CONFIG_TARGET_ARCH_PACKAGES="aarch64_generic"

# Root Filesystem Size
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
# CONFIG_TARGET_ROOTFS_UBIFS is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
# CONFIG_ZSTD_OPTIMIZE_O3=y
# Максимальная оптимизация кода компилятором. Дает небольшой прирост производительности. Увеличивает время сборки.
# Вам нужна, если: критична каждая микросекунда производительности, имеете мощный компьютер для сборки
CONFIG_KERNEL_FS_SQUASHFS=y
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_FS_SQUASHFS=y
CONFIG_KERNEL_FS_SQUASHFS_ZSTD=y
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_FS_SQUASHFS_ZSTD=y

# Kernel and Performance Enhancements
# CONFIG_KERNEL_ARM_PMU=y
# CONFIG_KERNEL_ARM_PMUV3=y
# Эти параметры активируют поддержку ARM Performance Monitoring Unit (PMU), которая используется для анализа производительности процессора.
# PMUV3 — расширенная версия для ARMv8.
# Полезно для мониторинга и отладки производительности.
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_HUGETLB=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_HUGETLB_PAGE=y
CONFIG_KERNEL_HUGETLBFS=y
CONFIG_KERNEL_LRNG=y
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_LRNG=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_NETKIT=y
CONFIG_KERNEL_NF_CONNTRACK=y
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_NF_CONNTRACK=y
# CONFIG_KERNEL_PERF_EVENTS=y
# Включает подсистему Linux perf для отслеживания производительности ядра и приложений.
CONFIG_KERNEL_SKB_FIXED_SIZE_2K=y
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_SKB_FIXED_SIZE_2K=y
CONFIG_KERNEL_SKB_RECYCLE_MAX_PREALLOC_SKBS=16384
# Предварительное выделение огромного количества сетевых буферов. Усложняет процесс компиляции ядра. Требует больше вычислительных ресурсов при сборке. Снижает latency в сетевых операциях. Оптимизация сетевого стека
# Вам нужна, если: высоконагруженные сетевые сценарии, Можно отключить, производительность незначительно пострадает.
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_SKB_RECYCLE_MAX_PREALLOC_SKBS=16384
CONFIG_KERNEL_SKB_RECYCLE_SIZE=1856
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_SKB_RECYCLE_SIZE=1856
CONFIG_KERNEL_SKB_RECYCLER_PREALLOC=y
### Отсутствует в итоговом конфиге - CONFIG_KERNEL_SKB_RECYCLER_PREALLOC=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE=y
CONFIG_KERNEL_TTY=y
# Если вы используете UART/серийный порт. Если вы используете консоль для вывода отладки.
# Если устройство настроено через SSH, веб-интерфейс (например, Luci), а UART или консоль не используются, поддержка TTY может быть лишней.
CONFIG_KERNEL_XDP_SOCKETS=y

# Networking and VPN Support
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
# BIND
CONFIG_BIND_ENABLE_DOH=y
# OPENSSL
### Отсутствует в итоговом конфиге - CONFIG_OPENSSL_*
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
# Увеличивает время сборки из-за сложных оптимизаций. Генерирует высокооптимизированный код для криптографических операций.
# Вам нужна, если: работаете с шифрованием, используете VPN, SSL, важна криптографическая производительность.
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_TLS13=y

# Sing-box Configuration for VPN
CONFIG_SING_BOX_BUILD_ACME=y
CONFIG_SING_BOX_BUILD_CLASH_API=y
CONFIG_SING_BOX_BUILD_ECH=y
CONFIG_SING_BOX_BUILD_GVISOR=y
CONFIG_SING_BOX_BUILD_QUIC=y
CONFIG_SING_BOX_BUILD_REALITY_SERVER=y
CONFIG_SING_BOX_BUILD_UTLS=y
CONFIG_SING_BOX_BUILD_WIREGUARD=y

# Localization and Utilities
CONFIG_LUCI_LANG_ru=y
# CONFIG_PARTED_READLINE=y
# Активирует текстовый интерфейс (readline) для parted. Это полезно для работы с разделами дисков. Полезно, если планируется работать с дисками через командную строку.
CONFIG_RSYNC_acl=y
CONFIG_RSYNC_xattr=y

# Build Options
# CONFIG_ALL_NONSHARED=y
# Включает статическую сборку всех пакетов и их зависимостей.
# Это делает каждый пакет автономным, что может увеличить размер прошивки. Только при сборке полностью автономной прошивки для специфических устройств.
CONFIG_AUTOREMOVE=y
### Отсутствует в итоговом конфиге - CONFIG_AUTOREMOVE

# Все равно появляются в итоговом конфиге, даже если их не указывать
# CONFIG_HTOP_LMSENSORS=y
# CONFIG_KERNEL_ARM_PMU=y
# CONFIG_KERNEL_ARM_PMUV3=y
# CONFIG_KERNEL_PERF_EVENTS=y
# CONFIG_LIBCURL_FTP=y
# CONFIG_LIBCURL_TFTP=y
# CONFIG_PARTED_READLINE=y
############################################################################

# Packages
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_bsdtar=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_findutils=y
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_hwclock=y
CONFIG_PACKAGE_internet-detector=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_irqbalance=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
# Нужно если rootfs не использует squashfs, а squashfs нужен только для чтения дополнительных файловых систем (например, флеш-накопителей или архивов).
# Пример: если прошивка построена на ext4, а squashfs требуется только для монтирования внешних файловых систем.
# Лучше включить CONFIG_KERNEL_FS_SQUASHFS и CONFIG_KERNEL_FS_SQUASHFS_ZSTD, так как это обеспечит поддержку squashfs без зависимости от модулей.
# Но отключение CONFIG_PACKAGE_kmod-fs-squashfs=y, не приводит к появлению CONFIG_KERNEL_FS_SQUASHFS и CONFIG_KERNEL_FS_SQUASHFS_ZSTD.
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-mdio-netlink=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-phy-realtek=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-internet-detector=y
CONFIG_PACKAGE_luci-app-youtubeUnblock=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-internet-detector-ru=y
CONFIG_PACKAGE_luci-i18n-package-manager-ru=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_mailsend=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_owut=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_sed=y
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_youtubeUnblock=y
CONFIG_PACKAGE_zoneinfo-europe=y
############################################################################

# Not sure
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=m
CONFIG_PACKAGE_kmod-thermal=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_libip4tc2=m
CONFIG_PACKAGE_libip6tc2=m
############################################################################

# log-viewer - не компилируется почему то ни с одним из вариантов
CONFIG_PACKAGE_luci-app-log-viewer=y
CONFIG_PACKAGE_luci-i18n-log-viewer-ru=y
#
CONFIG_PACKAGE_luci-app-log=y
CONFIG_PACKAGE_luci-i18n-log-ru=y
############################################################################

# Исключить
CONFIG_PACKAGE_automount=n
CONFIG_PACKAGE_block-mount=n
CONFIG_PACKAGE_cpufreq=n
CONFIG_PACKAGE_kmod-fs-exfat=n
CONFIG_PACKAGE_kmod-fs-ntfs3=n
CONFIG_PACKAGE_kmod-fs-vfat=n
CONFIG_PACKAGE_kmod-nls-cp437=n
CONFIG_PACKAGE_kmod-nls-iso8859-1=n
CONFIG_PACKAGE_kmod-nls-utf8=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_ntfs3-mount=n
############################################################################

# SQM
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_tc-full=y
CONFIG_PACKAGE_sqm-scripts=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-i18n-sqm-ru=y
